.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background: linear-gradient(to right,  #007CC7 , #4DA8DA);
  box-shadow: 2px 2px 50px #203647;
  overflow-y: scroll;
  // Transition the library list
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;
  h2 {
    padding: 2rem;
  }
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  transition: background 0.75s ease;
  img {
    width: 30%;
  }
  &:hover {
    background: #4da8da;
  }
}

.song-description {
  padding-left: 1rem;
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.7rem;
  }
}

// This enables custom scrollbar in Firefox
* {
  scrollbar-width: thin;
  scrollbar-color: #4da8da transparent;
}

// This enables custom scrollbar in Chrome
*::-webkit-scrollbar {
  width: 5px;
  background: #007CC7;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-thumb {
  background-color: #007CC7;
  border-radius: 20px;
  border: transparent;
}

.selected {
  background: #007CC7;
}

.active-library {
  transform: translateX(0%);
  opacity: 1;
}

// For mobile view
@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
