.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background: white;
  box-shadow: 2px 2px 50px rgb(204, 204, 204);
  overflow-y: scroll;
  // Transition the library list
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;
  h2 {
    padding: 2rem;
  }
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  img {
    width: 30%;
  }
  &:hover {
    background: lightblue;
  }
}

.song-description {
  padding-left: 1rem;
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.7rem;
  }
}

// This enables custom scrollbar in Firefox
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

// This enables custom scrollbar in Chrome
*::-webkit-scrollbar {
  width: 5px;
  background: rgba(155, 155, 155, 0.5);
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.selected {
  background: lightskyblue;
}

.active-library {
  transform: translateX(0%);
  opacity: 1;
}
