nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    outline: none;
    color: #12232e;
    background: #4da8da;
    cursor: pointer;
    border: 2px solid #203647;
    border-radius: 5%;
    padding: 0.5rem;
    transition: all 0.3s ease;
    &:hover {
      background: #007cc7;
      color: #12232e;
      border: 2px solid #12232e;
    }
  }
  .lib-icon {
    padding-left: 2px;
  }
}

// For mobile view
@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
    }
  }
}
