.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 20%;
    border-radius: 50%;
  }
  h2 {
    padding: 3rem 1rem 1rem 1rem;
  }
  h3 {
    font-size: 1rem;
  }
}

// For mobile view
@media only screen and (max-width: 1024px) and (max-width: 1200px) {
  .song-container {
    min-height: 60vh;
    img {
      width: 40%;
    }
  }
}

@media only screen and (max-width: 768px) and (max-width: 900px) {
  .song-container {
    min-height: 40vh;
    img {
      width: 60%;
    }
  }
}
